.navbar {
    background-color: #0d47a1;
}

.logo {
    margin-left: 1%;
}

.calendar {
    background-color: #42a5f5;
    width: 100%;
    height: 980px;
    padding-top: 20px;
    margin-top:13px;
}

.months {
    background-color: #1e88e5;
    margin: auto;
    width: 95%;
    height: 460px;
    padding-top: 20px;
}

.days {
    background-color: #2962ff;
    margin: auto;
    width: 95%;
    height: 200px;
}
