.calendar {
    background-color: blue;
    width: 100%;
    height: 1000px;
}

.months {
    background-color: green;
    width: 100%;
    height: 700px;
}

.days {
    background-color: red;
    width: 100%;
    height: 500px;
}
